@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:ital,wght@1,100&family=Space+Mono&display=swap');

main{
    display: flex;
    flex-direction: column;
    align-content: justify;
    box-sizing: border-box;
    
    max-width: 1300px;
}

nav{
    font-family: "inconsolata",  "sans-serif";
    margin-top: 10px;
    padding:10px 15px;
    min-height: 10vh;
    font-size: 1.5em;
}

img{
    width: 600px; 
    padding:15px 65px;
}

.legend{
    
    font-family: "Space Mono", "sans-serif";
    padding:15px 15px;
    ;
}

.legend h1{
    font-size: 2vh;
    text-align: justify;
    width: 100%
    
}

.legend p{
    font-size: 1.2em;
    width: 100%
}

footer{
    font-family: "Montserrat";
    text-align: center;
    margin-top: 25rem;
    font-size: 1em;
}

footer b{
    color:gray;
    font-weight:800;
    text-decoration:underline ;
}

button{
    font-family: "Space Mono", "sans-serif";
    color: white;
    font-weight: bolder;
    background-color: black;
    padding: 25px 25px;
    font-size: 1em;
    width: 45%;
}

@media (min-width:900px){
    main{ 
        display: flex;
        flex-direction: row;
        align-content: space-around;
    }

    nav{
        display: inline-flex;
        font-size: 2vh;
        padding:10px 15px;
    }

    .legend h1{
        font-size: 5vh;
        text-align: justify;
        width: 100%
        
    }
    .legend p{
        font-size: 2em;
        width: 100%
    }
    
}